:root {
    --primary-color: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --neutral-1: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-family: 'Inter', sans-serif;
    position: relative;
}


/* side bar  */

.sidebar-menu{
    position: absolute;
    top: 0;
    width: 60%;
    height: 100vh;
    background-color: var(--neutral-1);
    display: none;
    flex-direction: column;
    padding: 20px;
    right: -1000px;
    transition: right .5s ease;
}

.active{
    right: 0 ;
    display: flex;
}

.sidebar-menu .menu-cls-btn{
 position: absolute;
 padding: 20px;
 right: 0;
}

.sidebar-links{
    margin-top: 40%;
}

.sidebar-links .navlink{
    padding: 20px 0;
}

.sidebar-links .navlink a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}

/* end of sidebar  */


/* header styling */

header{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}



header .logo img{
    width: 50px;
}



header nav .navlinks{
    display: none;
    justify-content: space-around;
}

/* end of header  */

/* main  */

main{
    width: 100%;
    padding: 0 5%;
}

/* hero section  */

#hero .hero-bg{
    height: 50vh;
    background: url(./assets/images/image-web-3-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero .hero-title {
    padding: 20px 0;
}

#hero .hero-title h1{
    font-size: 40px;
    font-weight: 800;
    color: var(--very-dark-blue);
}

#hero .hero-desc{
    padding-bottom: 20px;
}

#hero .hero-desc p{
    color: var(--dark-grayish-blue);
    font-size: 15px;
    line-height: 25px;

}

#hero .read-more-btn {
    padding-bottom: 20px;
}

#hero .read-more-btn button {
    padding: 15px 25px;
    border: none;
    background-color: var(--soft-red);
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    font-family: 'Inter', sans-serif;
    letter-spacing: 5px;
}

/* new section  */

#new {
    background: var(--very-dark-blue);
    padding: 20px;
}

#new .header{
    padding-bottom: 10px;
}

#new .header h1{
    color: var(--primary-color);
}

#new .content-wrapper{
    padding: 20px 0;
    border-bottom: 1px solid hsl(36, 100%, 99%);
}

#new .content-wrapper:last-child{
    border-bottom: none;
}

#new .new-contents .new-head{
    padding-bottom: 10px;
}

#new .new-contents .new-head h2{
    font-size: 18px;
    color: var(--neutral-1);
}

#new .new-contents .new-desc p{
    color: var(--grayish-blue);
}


/* misc section  */

#misc {
    margin: 50px 0;
}

#misc .misc-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 5%;
}

 #misc .misc-img1{
    background-image: url(./assets/images/image-retro-pcs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
}

#misc .misc-img2 {
    background-image: url(./assets/images/image-top-laptops.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
}

#misc .misc-img3 {
    background-image: url(./assets/images/image-gaming-growth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
} 


/* #misc .misc-img {
    width: 100%;
    height: 70%%;
} */

/* #misc .misc-img img{
    width: 100%;
    height: 100%;
} */

#misc .misc-txt {
    width: 65%;
}

#misc .misc-txt .misc-num{
    padding-bottom: 10px;
}

#misc .misc-txt .misc-num h1 {
    color: var(--grayish-blue);
}

#misc .misc-txt .misc-title{
    padding-bottom: 10px;
}

#misc .misc-txt .misc-title h1 {
    color: var(--very-dark-blue);
    font-size: 18px;
}

#misc .misc-txt .misc-desc p{
    font-size: 15px;
    color: var(--dark-grayish-blue);
}